:root {
  --primary-color: orange;
}

.text-orange {
  color: var(--primary-color);
}

.bg-orange {
  background-color: var(--primary-color);
}

button:hover {
  opacity: 0.8;
}

.icon-hover:hover {
  opacity: 0.8;
  cursor: pointer;
}

#select-drink:hover {
  cursor: context-menu;
}
